<!-- begin::NexLink Sidebar Menu -->
<aside class="app-menubar-tabs" id="appMenubar">
  <div class="app-navbar-brand">
    <a class="navbar-brand-logo" href="/">
      <img src="/dashboard/images/logo.svg" alt="Dashboard Logo">
    </a>
  </div>
  <div class="app-navbar-tabs" data-simplebar="">
    <ul class="nav" id="appMenubarTabs" role="tablist" aria-orientation="vertical">

      <!-- Tab 1: Dashboard -->
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Dashboard">
        <a class="menu-link active" href="#dashboardTab" role="tab" aria-controls="dashboardTab" aria-selected="true"
          data-bs-toggle="tab">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M2 12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274C22 8.77128 22 9.91549 22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039Z"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
            <path d="M12 15V18" stroke="var(--bs-heading-color)" stroke-width="2" stroke-linecap="round"></path>
          </svg>
        </a>
      </li>

      <!-- Tab 2: Profile & Users -->
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Profile">
        <a class="menu-link" href="#profileTab" role="tab" aria-controls="profileTab" aria-selected="false"
          data-bs-toggle="tab">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8Z"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
            <path
              d="M6.5 10.189C3.91216 10.855 2 13.2042 2 15.9999C2 19.3136 4.68629 21.9999 8 21.9999C11.3137 21.9999 14 19.3136 14 15.9999C14 15.2452 13.8607 14.5231 13.6063 13.8578"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
            <path opacity="0.5"
              d="M12 20.4722C13.0615 21.4222 14.4633 21.9999 16 21.9999C19.3137 21.9999 22 19.3136 22 15.9999C22 13.2042 20.0878 10.855 17.5 10.189"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
          </svg>
        </a>
      </li>

      <!-- Tab 3: Settings -->
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Settings">
        <a class="menu-link" href="#settingsTab" role="tab" aria-controls="settingsTab" aria-selected="false"
          data-bs-toggle="tab">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
            <path opacity="0.5"
              d="M13.7654 2.15224C13.3978 2 12.9319 2 12 2C11.0681 2 10.6022 2 10.2346 2.15224C9.74457 2.35523 9.35523 2.74458 9.15224 3.23463C9.05881 3.45834 9.02036 3.72066 9.0042 4.09961C8.97983 4.65579 8.68538 5.16621 8.18819 5.44159C7.691 5.71697 7.09654 5.71633 6.59896 5.44176C6.26862 5.25717 6.01558 5.17412 5.77593 5.15382C5.24836 5.10872 4.72232 5.27675 4.31564 5.61865C4.00295 5.87928 3.76991 6.28355 3.30384 7.09208C2.83776 7.90062 2.60473 8.30488 2.55907 8.69903C2.51395 9.08838 2.59299 9.48098 2.78422 9.81973C2.91064 10.0436 3.10451 10.2387 3.40613 10.4872C3.83213 10.8428 4.0991 11.3855 4.0991 12C4.0991 12.6145 3.83213 13.1572 3.40613 13.5128C3.10451 13.7613 2.91064 13.9564 2.78422 14.1803C2.59299 14.519 2.51395 14.9116 2.55907 15.301C2.60473 15.6951 2.83776 16.0994 3.30384 16.9079C3.76991 17.7165 4.00295 18.1207 4.31564 18.3814C4.72232 18.7233 5.24836 18.8913 5.77593 18.8462C6.01558 18.8259 6.26862 18.7428 6.59896 18.5582C7.09654 18.2837 7.691 18.283 8.18819 18.5584C8.68538 18.8338 8.97983 19.3442 9.0042 19.9004C9.02036 20.2793 9.05881 20.5417 9.15224 20.7654C9.35523 21.2554 9.74457 21.6448 10.2346 21.8478C10.6022 22 11.0681 22 12 22C12.9319 22 13.3978 22 13.7654 21.8478C14.2554 21.6448 14.6448 21.2554 14.8478 20.7654C14.9412 20.5417 14.9796 20.2793 14.9958 19.9004C15.0202 19.3442 15.3146 18.8338 15.8118 18.5584C16.309 18.283 16.9035 18.2837 17.401 18.5582C17.7314 18.7428 17.9844 18.8259 18.2241 18.8462C18.7516 18.8913 19.2777 18.7233 19.6844 18.3814C19.9971 18.1207 20.2301 17.7165 20.6962 16.9079C21.1622 16.0994 21.3953 15.6951 21.4409 15.301C21.4861 14.9116 21.407 14.519 21.2158 14.1803C21.0894 13.9564 20.8955 13.7613 20.5939 13.5128C20.1679 13.1572 19.9009 12.6145 19.9009 12C19.9009 11.3855 20.1679 10.8428 20.5939 10.4872C20.8955 10.2387 21.0894 10.0436 21.2158 9.81973C21.407 9.48098 21.4861 9.08838 21.4409 8.69903C21.3953 8.30488 21.1622 7.90062 20.6962 7.09208C20.2301 6.28355 19.9971 5.87928 19.6844 5.61865C19.2777 5.27675 18.7516 5.10872 18.2241 5.15382C17.9844 5.17412 17.7314 5.25717 17.401 5.44176C16.9035 5.71633 16.309 5.71697 15.8118 5.44159C15.3146 5.16621 15.0202 4.65579 14.9958 4.09961C14.9796 3.72066 14.9412 3.45834 14.8478 3.23463C14.6448 2.74458 14.2554 2.35523 13.7654 2.15224Z"
              stroke="var(--bs-heading-color)" stroke-width="2"></path>
          </svg>
        </a>
      </li>

      <li class="nav-item-hr"></li>

      <!-- Logout -->
      <li class="nav-item mt-5" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Logout">
        <a class="menu-link" href="/auth/logout">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
              d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2H16.0002C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8V16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17"
              stroke="var(--bs-heading-color)" stroke-width="2" stroke-linecap="round"></path>
            <path d="M15 12H2M2 12L5.5 9M2 12L5.5 15" stroke="var(--bs-heading-color)" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab Content Panels -->
  <div class="app-tab-content">
    <div class="app-side-brands">
      <a class="navbar-brand-text" href="/">Dashboard</a>
    </div>
    <div class="app-content-inner">
      <div class="tab-content" id="appMenubarTabsContent">

        <!-- ============================================ -->
        <!-- TAB 1: Dashboard -->
        <!-- ============================================ -->
        <div class="tab-pane fade show active" id="dashboardTab" role="tabpanel" tabindex="0">
          <nav class="app-navbar" data-simplebar="">
            <ul class="side-menubar">
              <li class="menu-heading">
                <span class="menu-label">Dashboard</span>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/') ? ' active' : '' %>"
                  href="/" role="button">
                  <i class="fi fi-rr-house-blank"></i>
                  <span class="menu-label">Home</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/notifications') ? ' active' : '' %>"
                  href="/notifications" role="button">
                  <i class="fi fi-rr-bell"></i>
                  <span class="menu-label">Notifications</span>
                </a>
              </li>
              <li>
                <div class="menu-divider"></div>
              </li>
              <li class="menu-heading">
                <span class="menu-label">Content</span>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/compose') ? ' active' : '' %>"
                  href="/compose" role="button">
                  <i class="fi fi-rr-pen-field"></i>
                  <span class="menu-label">Compose</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/languages') ? ' active' : '' %>"
                  href="/languages" role="button">
                  <i class="fi fi-rr-globe"></i>
                  <span class="menu-label">Languages</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- ============================================ -->
        <!-- TAB 2: Profile & Users -->
        <!-- ============================================ -->
        <div class="tab-pane fade" id="profileTab" role="tabpanel" tabindex="0">
          <nav class="app-navbar" data-simplebar="">
            <ul class="side-menubar">
              <li class="menu-heading">
                <span class="menu-label">Profile</span>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/profile') ? ' active' : '' %>"
                  href="/profile" role="button">
                  <i class="fi fi-rr-circle-user"></i>
                  <span class="menu-label">My Profile</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/profile/edit') ? ' active' : '' %>"
                  href="/profile/edit" role="button">
                  <i class="fi fi-rr-pencil"></i>
                  <span class="menu-label">Edit Profile</span>
                </a>
              </li>
              <% if (typeof user !=='undefined' && user.permissions && (user.permissions.root ||
                user.permissions.admin)) { %>
                <li>
                  <div class="menu-divider"></div>
                </li>
                <li class="menu-heading">
                  <span class="menu-label">Management</span>
                </li>
                <li class="menu-item">
                  <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/users') ? ' active' : '' %>"
                    href="/users" role="button">
                    <i class="fi fi-rr-users"></i>
                    <span class="menu-label">All Users</span>
                  </a>
                </li>
                <% } %>
            </ul>
          </nav>
        </div>

        <!-- ============================================ -->
        <!-- TAB 3: Settings -->
        <!-- ============================================ -->
        <div class="tab-pane fade" id="settingsTab" role="tabpanel" tabindex="0">
          <nav class="app-navbar" data-simplebar="">
            <ul class="side-menubar">
              <li class="menu-heading">
                <span class="menu-label">Settings</span>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/profile/edit') ? ' active' : '' %>"
                  href="/profile/edit" role="button">
                  <i class="fi fi-rr-settings"></i>
                  <span class="menu-label">Account Settings</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link<%= (typeof navigation !== 'undefined' && navigation.link === '/languages') ? ' active' : '' %>"
                  href="/languages" role="button">
                  <i class="fi fi-rr-globe"></i>
                  <span class="menu-label">Languages</span>
                </a>
              </li>
              <li>
                <div class="menu-divider"></div>
              </li>
              <li class="menu-heading">
                <span class="menu-label">Session</span>
              </li>
              <li class="menu-item">
                <a class="menu-link text-danger" href="/auth/logout" role="button">
                  <i class="fi fi-sr-exit"></i>
                  <span class="menu-label">Logout</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
</aside>
<!-- end::NexLink Sidebar Menu -->